/* General colors */
@define-color background #1D2021;
@define-color bg #282828;
@define-color bg1 #3C3836;
@define-color bg2 #504945;
@define-color text #D5C4A1;
@define-color focused #FBF1C7;
@define-color gray #BDAE93;

/* Dark mode (gruvbox) */
@define-color red-color #CC241D;
@define-color green-color #98971A;
@define-color yellow-color #D79921;
@define-color blue-color #458588;
@define-color purple-color #B16286;
@define-color aqua-color #689d6A;
@define-color orange-color #D65D0E;
@define-color orange-bright-color #FE8019;

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-weight: 600;
  font-size: 16px;
  min-height: 20px;
}

window#waybar {
  background-color: @background;
  color: @text;
  padding: 0px 10px;
}

tooltip {
  background-color: rgba(28, 28, 28, 0.9);
  border: 0px solid @focused;
  border-radius: 0;
  color: @text;
  padding: 2px 2px;
}

tooltip label {
  font-size: 17px;
  padding: 2px 2px;
}

button {
  border: none;
}

#workspaces button {
  padding: 0px 6px 0px 6px;
  margin: 0px 0px 0px 0px;
  border-radius: 0;
}

#workspaces button:hover {
  transition: none;
}

#workspaces button:not(.empty) {
  color: @orange-bright-color;
}

#workspaces button.empty {
  color: @gray;
}

#workspaces button.active {
  border-bottom: 3px solid @orange-color;
}

#workspaces button.urgent {
  color: @red-color;
  border-bottom: 3px solid @red-color;
}

#mpris {
  color: @red-color;
  border-bottom: 3px solid @red-color;
}

#mpris.playing {
  color: @aqua-color;
  border-bottom: 3px solid @aqua-color;
}

#network.ethernet,
#network.linked,
#network.wifi {
  color: @aqua-color;
  border-bottom: 3px solid @aqua-color;
}

#network.disconnected {
  color: @red-color;
  border-bottom: 3px solid @red-color;
}

#clock {
  color: @blue-color;
  border-bottom: 3px solid @blue-color;
}

#language {
  color: @orange-color;
  border-bottom: 3px solid @orange-color;
}

#wireplumber {
  color: @purple-color;
  border-bottom: 3px solid @purple-color;
}

#wireplumber.muted {
  color: @bg2;
  border-bottom: 3px solid @bg2;
}

#cpu {
  color: @blue-color;
  border-bottom: 3px solid @blue-color;
}

#memory {
  color: @green-color;
  border-bottom: 3px solid @green-color;
}

#temperature {
  color: @purple-color;
  border-bottom: 3px solid @purple-color;
}

#tray {
  border-bottom: 3px solid @bg2;
}

#custom-vpn-status {
  color: @yellow-color;
  border-bottom: 3px solid @yellow-color;
}

#idle_inhibitor {
  color: @purple-color;
  border-bottom: 3px solid @purple-color;
  padding: 0px 5px;
  margin: 0px 10px 0px 5px;
}

#custom-weather-status {
  color: @yellow-color;
  border-bottom: 3px solid @yellow-color;
  padding: 0px 10px;
  margin: 0px 5px 0px 10px;
}

#mpris, #network, #wireplumber, #language, #cpu, #memory,
#temperature, #tray, #clock, #custom-vpn-status {
  padding: 0px 10px;
  margin: 0px 5px;
}

#custom-sprt,
#custom-dec1,
#custom-sprt2,
#custom-sprt3,
#custom-split {
  color: @bg1;
}
