@import url("colors.css");

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  color: @fg;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: @bg;
}

button {
  border: none;
}

#workspaces button label {
  transition: none;
  padding: 0 10px;
}

#workspaces button.empty label {
  color: @fg;
}
#workspaces button:not(.empty) label {
  color: @orange;
}

#workspaces button:hover {
  box-shadow: none; 
  transition: none;
  background: @bg;
}

#workspaces button.active label {
  background: @bg;
  border-bottom: 3px solid @orange;
}

#clock, #battery, #wireplumber, #language, #custom-weather, #custom-vpn-status, #network, #window {
  margin: 0 5px;
  padding: 0 10px;
}
#tray {
  margin: 0 0 0 5px;
  padding: 0 10px;
}

#language {
  color: @yellow;
  border-bottom: 3px solid @yellow;
}

#custom-weather {
  color: @green;
  border-bottom: 3px solid @green;
}

#custom-vpn-status {
  color: @yellow;
  border-bottom: 3px solid @yellow;
}

#network.ethernet,
#network.linked,
#network.wifi { 
  color: @green;
  border-bottom: 3px solid @green;
}

#network.disconnected {
  color: @red;
}

#wireplumber {
  color: @aqua;
  border-bottom: 3px solid @aqua;
}

#wireplumber.muted {
  padding: 0 20px;
  color: @red;
  border-bottom: 3px solid @red;
}

#clock {
  color: @purple;
  border-bottom: 3px solid @purple;
}

#tray {
  color: #FFFFFF;
  border-bottom: 3px solid @orange;
}
